  body {
    background-color: #EEEEEE;
  }

  hr {
    border: dotted #D8D2CB 6px;
    border-bottom: none;
    width: 5%;
  }

  h1 {
    color: #1C658C
  }

  h2 {
    color: #1C658C
  }

  h3 {
    color: #1C658C
  }
